@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Josefin+Sans:ital@0;1&family=Open+Sans:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:ital,wght@1,300&display=swap");
* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

input {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #333;
  background: rgba(#fff, 0.9);
  border-bottom-color: #333;
  padding: 4px 12px !important;
  outline: none;
}